body{padding-top: 70px;padding-bottom: 70px; background-color: #eee;}
.pg-font-white{color: white;}
.pg-font-black{color: black}
li{color: #007bff}
.pg-width{width: 100%}
.pg-80-width{width: 80%; margin: auto;}
.pg-left-padding {padding-left: 20px}
.pg-no-underline:hover {text-decoration: none}
b:hover{color: blue}
i {vertical-align: middle}
.no-background{background-color: #FFFFFF}
.pg-gray{background-color: gray}
.pg-absolute-right{position: absolute; right:15px;}
.pg-front{z-index: 2}